<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Polls</title>
</head>
<body>
    <div>
        <!-- A form to vote on our poll app -->
        <form action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %} <!-- Protects data from forgeries etc -->
            <fieldset>
                <legend>{{ question.question }}</legend>
                {% if error_message %} <small>{{ error_message }}</small> {% endif %}
                {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id}}">
                    <label for="choice{{ forloop.counter }}">
                        {{ choice.choice_text }}
                    </label>
                {% endfor %}
            </fieldset>
            <input type="submit" name="Vote">
        </form>
    </div>
</body>
</html>